/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #e1f0fb;
  /* // #fffdfaff; */
  --darkest-gray: #2b3746;
  --darker-gray: #3a4450;
  --darker-gray-75: #3a4450bf;
  --dark-gray: #414e5d;
  --mid-gray: #495869;
  --gray: #54677d;
  --light-gray: #929daa;
  --lighter-gray: #a2b1c3;
  --lightest-gray: #c2d0e0;
  --blue: #6bbcff;
  --mid-blue: #5b9bd1;
  --yellow: #f3c829;
  --mid-yellow: #bfa112;
  --green: #53ca87;
  --mid-green: #49a576;
  --purple: #cc99f6;
  --mid-purple: #a481ca;
}

:root {

  /* Semantic Variables */
  --footer-bg: var(--darkest-gray);
  --footer-font-color: var(--gray);
  --footer-font-color-hover: var(--light-gray);
  --header-bg: var(--darkest-gray);
  --header-text-color: white;

  --header-title-text-primary: var(--yellow);
  --header-title-text-secondary: var(--blue);
  --header-subtitle-text-primary: var(--mid-yellow);
  --header-subtitle-text-secondary: var(--lightest-gray);

  --header-item-bg: var(--darker-gray);
  --header-item-bg-hover: var(--gray);
  --header-item-bg-selected: var(--dark-gray);

  --header-item-text-color: var(--yellow);
  --header-item-text-color-hover: var(--white);
  --header-item-text-color-selected: var(--yellow);

  --header-contact-item-text-color: var(--lighter-gray);
  --header-contact-item-text-color-hover: var(--white);

  /* Light page*/
  --light-bg: var(--mid-gray);
  --light-bg-title-text: var(--lightest-gray);

  /* on light page, with dark window box */
  --light-bg-window-dark: var(--darker-gray);
  --light-bg-window-dark-title: var(--yellow);
  --light-bg-window-dark-subtitle: var(--lightest-gray);
  --light-bg-window-dark-icon: var(--light-gray);
  --light-bg-window-dark-text: white;

  /* Dark page */
  --dark-bg: var(--darkest-gray);
  --dark-bg-title-text: var(--lighter-gray);

  /* on dark pages, light+dark options for window boxes, including internal box variants*/
  --dark-bg-window-dark: var(--mid-gray);
  /* on dark bg page, a dark window, with an inner light box */
  --dark-bg-window-dark-inner-light: var(--lighter-gray);
  --dark-bg-window-dark-inner-light-border: 1px solid var(--light-gray);
  --dark-bg-window-dark-inner-light-text: var(--darkest-gray);

  /* on dark bg page, a light window */
  --dark-bg-window-light: var(--lighter-gray);
  /* dark and light variants for inner box */
  --dark-bg-window-light-inner-light: var(--lightest-gray);
  --dark-bg-window-light-inner-dark: var(--gray);
  --dark-bg-window-light-inner-dark-title: var(--lightest-gray);
  --dark-bg-window-light-inner-dark-text: var(--white);


  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-black);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--gray);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0; */
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}